body {
    margin: 2em;
    padding: 0;
}

label {
    line-height: 1.5;
}

.header-link {
    float: right;
    margin-left: 1em;
}

.card-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: center;
}

.card-grid-container div {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #88888888;
    padding: 0 1em 0 1em;

    min-width: 40em;
    max-width: 150em;
}

.card-grid-container div:hover,
input[type=button]:hover {
    background-color: #88888833;
}

.card-grid-container div:active,
input[type=button]:active {
    background-color: #88888888;
}

input[type=text] {
    background-color: transparent;
    border-color: transparent;
    color: var(--vscode-editor-foreground);
}

input[type=button] {
    background-color: transparent;
    border-color: #88888888;
    border-style: solid;
    color: var(--vscode-editor-foreground);
}

input[type=button].submit {
    padding: 1em;
}

.file-selection {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.file-selection input[type=button],
.file-selection input[type=radio],
.file-selection label {
    flex-grow: 0;
}

.file-selection input[type=text] {
    flex-grow: 1;
}

svg.group-icon {
    width: 16px;
    height: 16px;
}

label:hover {
    background-color: #88888833;
}

hr {
    border: 1px solid #88888888;
}

hr+.card-grid-container {
    margin-top: 1em;
}